#lastRequest {
  font-size: 14pt !important;

}

#lastResponse, #instanceLog {
  font-size: 12pt !important;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid dimgray;
  border-radius: 5px;
  margin-left: 0 !important;
  word-break: break-all;
  max-height: 85px;
  overflow: scroll;
}

#authKey {
  margin-bottom: 20px;
  font-size: 9pt !important;
}

#loginButtons button {
  margin-right: 5px;
}

.typeList {
  margin-left: -20px;
  font-size: 8pt !important;
}

.typeList a {
  font-size: 8pt !important;
}

.type {
  font-size: 6pt !important;
}

.material-li {
  font-size: 14pt !important;
}

.pointer {
  cursor: pointer;
  font-size: 14px !important;
  font-weight: 300 !important;
}

.connector-image {
  height: 16px;
  width: 16px;
  background-size: contain;
  display: inline-block;
  margin-right: 3px;
}

#requestTypes > div > div {
  margin-top: 0;
  margin-bottom: 0;
}

.manageButtons button {
  margin-right: 10px;
}
