<div class="card--half-size">
  <base-card>
    <base-card-title>
      <h2 class="card--title">Last request</h2>
    </base-card-title>
    <base-card-body>
      <div id="lastRequest">Request: {{ lastRequestCommand }}
        <span class="color-text--green" *ngIf="lastRequestSuccessful">(success)</span>
        <span class="color-text--red" *ngIf="!lastRequestSuccessful">(failure)</span>
      </div>
      <div id="lastResponse">{{ lastRequestMessage }}</div>
    </base-card-body>
  </base-card>
</div>
<div class="card--half-size">
  <base-card>
    <base-card-title>
      <h2 class="card--title">Login / Register</h2>
    </base-card-title>
    <base-card-body>
      <div id="loginButtons">
        <div class="container--text mdl-js-textfield">
          <input class="mdl-textfield__input" type="password" id="password" value="" #passwordInput
                 (keyup.enter)="login(passwordInput.value)"/>
          <label class="mdl-textfield__label" for="password">Framework password</label>
        </div>
        <button class="button--green mdl-js-button mdl-js-ripple-effect"
                (click)="login(passwordInput.value)">
          <i class="material-icons">vpn_key</i>
          Login
        </button>
        <button class="button--blue mdl-js-button mdl-js-ripple-effect"
                (click)="register(passwordInput.value)">
          <i class="material-icons">account_circle</i>
          Register
        </button>
      </div>
      <div id="authKey">Authentication key:
        <span *ngIf="authKey.length > 0">{{ authKey }}</span>
        <span *ngIf="authKey.length == 0">(Not logged in)</span>
      </div>
    </base-card-body>
  </base-card>
</div>


<div class="card--half-size">
  <base-card>
    <base-card-title>
      <h2 class="card--title">Connector types</h2>
    </base-card-title>
    <base-card-body>
      <ul>
        <li *ngFor="let connectorType of connectorTypes">
          <div *ngIf="connectorMetadata.get(connectorType)?.found"
               [style.background-image]="'url(' + connectorMetadata.get(connectorType).icon + ')'"
               class="connector-image"></div>
          {{ connectorMetadata.get(connectorType)?.displayName }} <span class="type">({{ connectorType }})</span>
          <button (click)="copyToAddConnector(connectorType)"
                  class="button-trans--green mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">add</i>
          </button>
          <ul class="typeList">
            <li *ngIf="!connectorMetadata.get(connectorType)?.found">no metadata found.</li>
            <li
              *ngIf="connectorMetadata.get(connectorType)?.found">{{ connectorMetadata.get(connectorType)?.description }}
              More Information: <a [href]="connectorMetadata.get(connectorType)?.wikiUrl">Chat Overflow Wiki</a></li>
          </ul>
        </li>
      </ul>

    </base-card-body>
  </base-card>
</div>
<div class="card--third-size">
  <base-card>
    <base-card-title>
      <h2 class="card--title">Requirement types</h2>
    </base-card-title>
    <base-card-body>
      <ul class="typeList">
        <li *ngFor="let inputType of requirementTypes?.input">{{ inputType }}</li>
      </ul>
      <ul class="typeList">
        <li *ngFor="let outputType of requirementTypes?.output">{{ outputType }}</li>
      </ul>
      <ul class="typeList">
        <li *ngFor="let parameterType of requirementTypes?.parameter">{{ parameterType }}</li>
      </ul>
      <div id="requestTypes">
        <div>
          <div class="container--text mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="reqImplTypeString" value="" #reqImplTypeString
                   (keyup.enter)="getRequirementImpl(reqImplTypeString.value)"/>
            <label class="mdl-textfield__label" for="reqImplTypeString">API type string</label>
          </div>
          <button class="button--teal mdl-js-button mdl-js-ripple-effect"
                  (click)="getRequirementImpl(reqImplTypeString.value)">Get Req Impl
          </button>
        </div>
        <div>
          <div class="container--text mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="getSubTypesString" value="" #getSubTypesString
                   (keyup.enter)="getSubTypes(getSubTypesString.value)"/>
            <label class="mdl-textfield__label" for="getSubTypesString">API type string</label>
          </div>
          <button class="button--teal mdl-js-button mdl-js-ripple-effect"
                  (click)="getSubTypes(getSubTypesString.value)">Get sub types
          </button>
        </div>
      </div>
    </base-card-body>
  </base-card>
</div>
<div class="card--sixth-size">
  <base-card>
    <base-card-title>
      <h2 class="card--title">Plugin types</h2>
    </base-card-title>
    <base-card-body>
      <ul class="typeList">
        <li *ngFor="let pluginType of pluginTypes">{{ pluginType.name }} ({{pluginType.author}})
          <button (click)="copyToAddPlugin(pluginType.name, pluginType.author)"
                  class="button-trans--green mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">add</i>
          </button>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>


<div class="card--half-size">
  <base-card>
    <base-card-title>
      <h2 class="mdl-card__title-text">Connectors</h2>
    </base-card-title>
    <base-card-body>
      <div>
        <button class="button-trans--white mdl-js-button mdl-js-ripple-effect"
                (click)="getRegisteredConnectors()">
          <i class="material-icons">refresh</i>
          Refresh connectors
        </button>
      </div>
      <ul>
        <li *ngFor="let connectorKey of connectorKeys">{{connectorKey.sourceIdentifier}}
          <button class="button-trans--teal mdl-js-button mdl-js-ripple-effect"
                  (click)="copyConnectorData(connectorKey)">
            <i class="material-icons">edit</i>
          </button>
          <ul>
            <li>{{connectorKey.qualifiedConnectorType}}</li>
          </ul>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>
<div class="card--quarter-size">
  <base-card>
    <base-card-title>
      <h2 class="card--title">Manage connectors</h2>
    </base-card-title>
    <base-card-body>
      <div class="form">
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="mcSourceIdentifierValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="manageConnectorSourceIdentifier" value=""
                 #mcSourceIdentifier [(ngModel)]="mcSourceIdentifierValue"/>
          <label class="mdl-textfield__label" for="manageConnectorSourceIdentifier">Source identifier</label>
        </div>
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="mcConnectorTypeValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="manageConnectorConnectorType" value=""
                 #mcConnectorType [(ngModel)]="mcConnectorTypeValue"/>
          <label class="mdl-textfield__label" for="manageConnectorConnectorType">Connector type</label>
        </div>
        <div class="manageButtons">
          <button class="button--blue mdl-js-button mdl-js-ripple-effect"
                  (click)="manageConnectorGET(mcSourceIdentifier.value, mcConnectorType.value)">
            GET
          </button>
          <button class="button--green mdl-js-button mdl-js-ripple-effect"
                  (click)="manageConnectorPOST(mcSourceIdentifier.value, mcConnectorType.value)">
            ADD
          </button>
          <button class="button--red mdl-js-button mdl-js-ripple-effect"
                  (click)="manageConnectorDELETE(mcSourceIdentifier.value, mcConnectorType.value)">
            DELETE
          </button>
        </div>
      </div>
    </base-card-body>
  </base-card>
</div>
<div class="card--quarter-size">
  <base-card>
    <base-card-title>
      <h2 class="card--title">Manage credentials</h2>
    </base-card-title>
    <base-card-body>
      <div class="form">
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="mcrSourceIdentifierValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="manageCredentialsSourceIdentifier" value=""
                 #mcrSourceIdentifier [(ngModel)]="mcrSourceIdentifierValue"/>
          <label class="mdl-textfield__label" for="manageCredentialsSourceIdentifier">Source identifier</label>
        </div>
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="mcrConnectorTypeValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="manageCredentialsConnectorType" value=""
                 #mcrConnectorType [(ngModel)]="mcrConnectorTypeValue"/>
          <label class="mdl-textfield__label" for="manageCredentialsConnectorType">Connector type</label>
        </div>
        <div class="container--text mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="manageCredentialsKey" value=""
                 #mcrKey/>
          <label class="mdl-textfield__label" for="manageCredentialsKey">Key</label>
        </div>
        <div class="container--text mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="manageCredentialsValue" value=""
                 #mcrValue/>
          <label class="mdl-textfield__label" for="manageCredentialsValue">Value</label>
        </div>
        <div class="manageButtons">
          <button class="button--blue mdl-js-button mdl-js-ripple-effect"
                  (click)="manageCredentialsGET(mcrSourceIdentifier.value, mcrConnectorType.value, mcrKey.value)">
            GET
          </button>
          <button class="button--green mdl-js-button mdl-js-ripple-effect"
                  (click)="manageCredentialsPOST(mcrSourceIdentifier.value, mcrConnectorType.value,
                  mcrKey.value, mcrValue.value)">
            ADD
          </button>
          <button class="button--red mdl-js-button mdl-js-ripple-effect"
                  (click)="manageCredentialsDELETE(mcrSourceIdentifier.value, mcrConnectorType.value, mcrKey.value)">
            DELETE
          </button>
        </div>
      </div>
    </base-card-body>
  </base-card>
</div>


<div class="card--half-size">
  <base-card>
    <base-card-title>
      <h2 class="card--title">Plugin instances</h2>
    </base-card-title>
    <base-card-body>
      <div>
        <button class="button-trans--white mdl-js-button mdl-js-ripple-effect"
                (click)="getInstances()">
          <i class="material-icons">refresh</i>
          Refresh instances
        </button>
      </div>
      <ul>
        <li *ngFor="let instance of pluginInstances">
          <span class="color-text--orange" *ngIf="!instance.isRunning">{{ instance.instanceName }}</span>
          <span class="color-text--green" *ngIf="instance.isRunning">{{ instance.instanceName }}</span>
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
                  [class.button--colored-orange]="!instance.isRunning"
                  [class.button--colored-green]="instance.isRunning"
                  (click)="copyInstanceData(instance)">
            <i class="material-icons">edit</i>
          </button>
          <ul>
            <li>{{ instance.pluginName }} ({{ instance.pluginAuthor }})</li>
            <li>{{ instance.requirementIDs }}</li>
          </ul>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>
<div class="card--half-size">
  <base-card>
    <base-card-title>
      <h2 class="card--title">Start / Stop / Log</h2>
    </base-card-title>
    <base-card-body>
      <div class="manageButtons">
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="instanceNameSSValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="instanceNameSS" value=""
                 #instanceNameSS [(ngModel)]="instanceNameSSValue"/>
          <label class="mdl-textfield__label" for="instanceNameSS">Instance Name</label>
        </div>

        <button class="button--green mdl-js-button mdl-js-ripple-effect"
                (click)="startPlugin(instanceNameSS.value)">
          START
        </button>
        <button class="button--red mdl-js-button mdl-js-ripple-effect"
                (click)="stopPlugin(instanceNameSS.value)">
          STOP
        </button>
        <button class="button--orange mdl-js-button mdl-js-ripple-effect"
                (click)="getLog(instanceNameSS.value)">
          Show log
        </button>
      </div>
      <div #instanceLog id="instanceLog" style="white-space: pre-wrap" *ngIf="instanceLogOutput?.length > 0">{{ instanceLogOutput.join("\n") }}</div>
    </base-card-body>
  </base-card>
</div>

<div class="card--quarter-size">
  <base-card>
    <base-card-title>
      <h2 class="card--title">Create / Delete instance</h2>
    </base-card-title>
    <base-card-body>
      <div class="form">
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="miPluginNameValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="manageInstancePluginName" value=""
                 #miPluginName [(ngModel)]="miPluginNameValue">
          <label class="mdl-textfield__label" for="manageInstancePluginName">Plugin name</label>
        </div>
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="miPluginAuthorValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="manageInstancePluginAuthor" value=""
                 #miPluginAuthor [(ngModel)]="miPluginAuthorValue"/>
          <label class="mdl-textfield__label" for="manageInstancePluginAuthor">Plugin author</label>
        </div>
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="miInstanceNameValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="manageInstanceInstanceName" value=""
                 #miInstanceName [(ngModel)]="miInstanceNameValue"/>
          <label class="mdl-textfield__label" for="manageInstanceInstanceName">Instance name</label>
        </div>
      </div>
      <div class="manageButtons">
        <button class="button--green mdl-js-button mdl-js-ripple-effect"
                (click)="createPluginInstance(miInstanceName.value, miPluginName.value, miPluginAuthor.value)">
          CREATE
        </button>
        <button class="button--red mdl-js-button mdl-js-ripple-effect"
                (click)="deletePluginInstance(miInstanceName.value)">
          DELETE
        </button>
      </div>
    </base-card-body>
  </base-card>
</div>
<div class="card--half-size">
  <base-card>
    <base-card-title>
      <h2 class="card--title">Instance requirements</h2>
    </base-card-title>
    <base-card-body>
      <div>
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="requirementsInstanceNameValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="requirementsInstanceName" value=""
                 #requirementsInstanceName [(ngModel)]="requirementsInstanceNameValue"
                 (keyup.enter)="getRequirements(requirementsInstanceName.value)"/>
          <label class="mdl-textfield__label" for="requirementsInstanceName">Instance name</label>
        </div>
        <button class="button--teal mdl-js-button mdl-js-ripple-effect"
                (click)="getRequirements(requirementsInstanceName.value)">Show requirements
        </button>
      </div>
      <ul>
        <li *ngFor="let requirement of instanceRequirements">
          {{requirement.uniqueRequirementId}} ({{requirement.name}})
          <button class="button-trans--teal mdl-js-button mdl-js-ripple-effect"
                  (click)="copyRequirementData(requirement, requirementsInstanceName.value)">
            <i class="material-icons">edit</i>
          </button>
          <ul>
            <li>optional: {{requirement.isOptional}} - set: {{requirement.isSet}}</li>
            <li>type: {{requirement.targetType}}</li>
            <li>value: {{requirement.value}}</li>
          </ul>
        </li>
      </ul>
    </base-card-body>
  </base-card>
</div>
<div class="card--quarter-size">
  <base-card>
    <base-card-title>
      <h2 class="card--title">Change requirement</h2>
    </base-card-title>
    <base-card-body>
      <div class="form">
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="changeReqInstanceNameValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="changeReqInstanceName" value=""
                 #changeReqInstanceName [(ngModel)]="changeReqInstanceNameValue"/>
          <label class="mdl-textfield__label" for="changeReqInstanceName">Instance name</label>
        </div>
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="changeReqIDValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="changeReqID" value=""
                 #changeReqID [(ngModel)]="changeReqIDValue"/>
          <label class="mdl-textfield__label" for="changeReqID">Requirement ID</label>
        </div>
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="changeReqTypeValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="changeReqType" value=""
                 #changeReqType [(ngModel)]="changeReqTypeValue"/>
          <label class="mdl-textfield__label" for="changeReqType">Target type</label>
        </div>
        <div class="container--text mdl-js-textfield"
             [class.is-dirty]="changeReqValueValue.length > 0">
          <input class="mdl-textfield__input" type="text" id="changeReqValue" value=""
                 #changeReqValue [(ngModel)]="changeReqValueValue"/>
          <label class="mdl-textfield__label" for="changeReqValue">Value</label>
        </div>

      <div class="manageButtons">
        <button class="button--green mdl-js-button mdl-js-ripple-effect"
                (click)="setRequirement(changeReqInstanceName.value, changeReqID.value,
               changeReqType.value, changeReqValue.value)">
          PUT
        </button>
        <button class="button--red mdl-js-button mdl-js-ripple-effect"
                (click)="removeRequirement(changeReqInstanceName.value, changeReqID.value)">
          DELETE
        </button>
      </div>
      </div>
    </base-card-body>
  </base-card>
</div>
